rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return (request.auth.uid != null)
    }

    function isCreator() {
      return isSignedIn() && resource.data.creator == request.auth.uid;
    }

    function userIsCreator() {
      return isSignedIn() && request.resource.data.creator == request.auth.uid;
    }
  // function onlyContentChanged() {
    //   // Ensure that title and roles are unchanged and that no new
    //   // fields are added to the document.
    //   return request.resource.data.name == resource.data.name
    //     && request.resource.data.roles == resource.data.roles
    //     && request.resource.data.keys() == resource.data.keys();
    // }



    match /recipes/{recipe} {
      allow delete: if isCreator();
      allow update: if isCreator();
      allow create: if userIsCreator();
      allow read: if isCreator();
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }



  }
}

