rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return (request.auth.uid != null)
    }

    function isCreator() {
      return isSignedIn() && resource.data.creator == request.auth.uid;
    }

    function isReader() {
      return isSignedIn() && request.auth.uid in resource.data.readers || isCreator();
    }

    function userIsCreator() {
      return isSignedIn() && request.resource.data.creator == request.auth.uid;
    }

    match /recipes/{recipe} {
      allow delete: if isCreator();
      allow update: if isCreator();
      allow create: if userIsCreator();
      allow read: if isReader();
    }

    match /users/{userId} {
      allow read, write: if isSignedIn();
    }



  }
}

